/* Universal Styles */

html {
  font-size: 18px;
}

body {
  line-height: 1.4rem;
  font-family: "Helvetica", sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 961px) {
  .fixed-panel {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 960px) {
  .fixed-panel {
    margin: 0;
  }
}

/* Typography Styles */

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
}


/* Header Styles >> General */

#navcontainer {
  background-color: cadetblue;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logoheader {
  max-height: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 2rem;
}

#navlinks a {
  color: white;
  display: inline-flex;
  padding-right: 2rem;
  text-decoration: none;
  color: white;
}

/* Header Styles Desktop >> For screens with a resolution above 960px */

@media only screen and (min-width: 960px) {
  header {
    position: absolute;
    width: 100%;
    z-index: 99;
    margin-top: 1rem;
  }

  #navcontainer .logotextheader {
    color: white;
    font-size: 1rem;
    align-self: center;
  }

  #navlinks-simple a {
    display: none;
  }
}

/* Header Styles Tablet >> For screens with a resolution above 768px */

@media only screen and (min-width: 481px) and (max-width: 959px) {
  header {
    position: relative;
    width: 100%;
  }

  #navcontainer .logotextheader {
    display: none;
  }

  #navlinks-simple a {
    display: none;
  }
}

/* Header Styles Mobile >> For screens with a resolution of 480px or smaller */

@media only screen and (max-width: 480px) {
  header {
    position: relative;
    width: 100%;
  }

  #navcontainer .logotextheader {
    display: none;
  }

  #navlinks-main a {
    display: none;
  }
}

/* Feature Leader Banner Styles */

.leader {
  min-height: 30rem;
  background-image: url("../../resources/img/glasses-bg.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.leader .fixed-panel {
  width: 100%;
  justify-content: flex-end;
}

.leader-text {
  background-color: white;
  padding: 3rem 5rem;
  opacity: 0.95;
}

#featuretext {
  margin-top: 15rem;
  margin-right: 0px;
}

@media only screen and (min-width: 961px) {

}

@media only screen and (max-width: 960px) {

}

/* Unique Sell Points Styles */

.usp-list .flex-container {
  justify-content: space-between;
  align-items: center;
}

.usp-list .fixed-panel {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.usp {
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.usp-img-container {
  min-height: 6.5rem;
}

.usp-img {
  max-width: 5rem;
  max-height: 5rem;
  justify-content: center;
  align-items: center;
}


/* About Styles */

.about-list {
  padding: 1rem 0rem 5rem 0rem;
}

.about-item-group {
  justify-content: space-between;
}

.about-item {
  display: inline-flex;
  flex-direction: column;
  width: 48%;
}

.about-item h2 {
  background-color: cadetblue;
  text-transform: uppercase;
  color: white;
  padding: 0.5rem 1.25rem;
  margin-bottom: 0rem;
}

.about-item p {
  padding: 1.25rem;
  border: 1px cadetblue solid;
  min-height: 7rem;
}

/* Footer Styles */

footer {
  width: 100%;
  background-color: azure;
}

footer .flex-container {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.logofooter {
  max-height: 1.5rem;
}

.logotextfooter {
  align-items: center;
  margin-left: 1rem;
}
